{% extends "base.html" %}
{% load staticfiles %}
{% block head %}
<title>Sprints</title>
<link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
<link rel="stylesheet" href="{% static 'jquery-ui-1.11.4/jquery-ui.css' %}">

{% endblock %}
{% block content %}
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Sprints</h1>
            <h2 class="sub-header">{% if sprint %}Modificar sprint {% else %} Crear nuevo sprint{% endif %}</h2>
            <div class="col-md-offset-3 col-md-6">
                <form action="" method="post">
                    <div class="form-group">
                        <label for="id_nombre">Nombre:</label>
                        {{form.nombre}}
                        <p class="text-danger">{{form.nombre.errors.0}}</p>
                    </div>
                    </form>
            </div>
        </div>

{% endblock %}