{% extends "base.html" %}
{% load staticfiles %}
{% block head %}
    <title>Tipo US</title>
    <!-- Custom styles for this template -->
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">Tipo US</h1>
        {% if perms.tipous.add_tipous %}
            <a class="btn btn-primary" href="/us/tipo/create/">Crear nuevo</a>{% endif %}
        <h2 class="sub-header">Detalle</h2>
        <p>Nombre: <strong>{{ object.nombre }}</strong></p>

        {% if perms.tipous.change_tipous %}
            <a class="btn btn-default" role="button" href="/us/tipo/update/{{ object.id }}/">Modificar</a>{% endif %}
        {% if perms.proyecto.delete_tipous and not object.uss.all %}
            <a class="btn btn-danger" role="button" href="/us/tipo/delete/{{ object.id }}/">Eliminar</a>
        {% endif %}


        <h2 class="sub-header">Actividades</h2>
        {% if perms.actividades.add_actividad %}
            <a class="btn btn-primary" href="/us/actividades/create/{{ object.id }}/">Crear nuevo</a>
        {% endif %}
        <table class="table table-responsive">
            <thead>
            <tr>
                <th>Nombre</th>
                {% if perms.actividades.delete_actividad and not object.uss.all %}
                    <th></th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for act in object.actividades.all %}
                <tr>
                    <td>{{ act.nombre }}</td>
                    {% if perms.actividades.delete_actividad and not object.uss.all %}
                        <td><a class="text-danger" href="/us/actividades/delete/{{ act.id }}/">remove</a></td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>

        </table>

    </div>
{% endblock %}

