{% extends "base.html" %}
{% load staticfiles %}
{% block head %}
    <title>US</title>
    <!-- Custom styles for this template -->
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">US</h1>
        {% if perms.us.add_us %}
            <a class="btn btn-primary" href="/us/us/create/{{ object.proyecto.id }}/">Crear nuevo</a>{% endif %}
        <h2 class="sub-header">Detalle</h2>
        <p>Descripcion corta: <strong>{{ object.descripcion_corta }}</strong></p>
        <p>Descripcion larga: {{ object.descripcion_larga }}</p>
        <p>Tiempo planificado: {{ object.tiempo_planificado }}</p>
        <p>Valor de negocio: {{ object.valor_negocio }}</p>
        <p>Urgencia: {{ object.urgencia }}</p>
        <p>Usuario asignado: {{ object.usuario_asignado }}</p>
        <p>Tipo US: {{ object.tipoUS }}</p>
        <p>Finalizado: {% if object.finalizado %}Si{% else %}No {% endif %}</p>
        {% if not object.finalizado %}
            <p>Actividad: {{ object.actividad | default:'Actividad no asignada' }}</p>
            <p>Estado actividad: {% if object.actividad %}{{ object.get_estado_actividad_display }}{% endif %} </p>
        {% endif %}

        {% if object.sprint.estado_sprint == 'PEN' %}
            {% if perms.us.change_us or 'change_us' in permisos %}
                <a class="btn btn-default" role="button" href="/us/us/update/{{ object.id }}">Modificar</a>{% endif %}
            {% if perms.us.delete_us or 'delete_us' in permisos %}
                <a class="btn btn-danger" role="button" href="/us/us/delete/{{ object.id }}">Eliminar</a>{% endif %}
        {% elif object.sprint.estado_sprint == 'INI' %}
            {% if perms.us.change_actividad or 'change_actividad' in permisos %}
                <a class="btn btn-default" role="button" href="/us/us/cambiar_actividad/{{ object.id }}">Cambiar
                    actividad</a>{% endif %}
            {% if perms.us.change_estado_actividad or 'change_estado_actividad' in permisos %}
                <a class="btn btn-default" role="button" href="/us/us/cambiar_estado_actividad/{{ object.id }}">Cambiar
                    estado de actividad</a>{% endif %}
        {% elif object.sprint.estado_sprint == 'FIN' and not object.finalizado %}
            <p><Strong>El sprint que contenia a este US ha finalizado, si desea volver a colocar este US con prioridad
                alta presione <a href="/us/us/repriorizar/{{ object.id }}">aqui</a></Strong></p>
        {% else %}
            <p><strong>Sprint finalizado</strong></p>
        {% endif %}
    </div>
{% endblock %}

