<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cliente</title>
</head>
<body>


    <form action="" method="post">
        <table>
            <tr><th><label for="id_nombre">Nombre:</label></th><td><input id="id_nombre" maxlength="100" name="nombre" type="text" /></td></tr>
<tr><th><label for="id_direccion">Direccion:</label></th><td><input id="id_direccion" maxlength="100" name="direccion" type="text" /></td></tr>
<tr><th><label for="id_email">Email:</label></th><td><input id="id_email" name="email" type="email" /></td></tr>
        </table>
        <input type='hidden' name='csrfmiddlewaretoken' value='8HT9MsH8X5Qps1PQyQtenyPXrbDNCPIa' />
        <input type="submit" value="Submit">
    </form>
</body>
</html>