{% extends "base.html" %}
{% load staticfiles %}
{% block head %}
    <title>Configuraciones</title>
    <!-- Custom styles for this template -->
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li><a href="/">Dashboard <span class="sr-only">(current)</span></a></li>
                <li><a href="/cliente/">Clientes</a></li>
                <li  class="active"><a href="/proyecto/">Proyectos</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Configuraciones</h1>
            <h2 class="sub-header">{% if proyecto %}Modificar proyecto {% else %} Crear nuevo proyecto{% endif %}</h2>
            <div class="col-md-offset-4 col-md-4">
                <form action="" method="post">
                    <div class="form-group">
                        <label for="id_nombre">Nombre:</label>
                        {{form.nombre}}
                        <p class="text-danger">{{form.nombre.errors.0}}</p>
                    </div>
                    <div class="form-group">
                        <label for="id_fecha_inicio">Fecha inicio:</label>
                        {{form.fecha_inicio}}
                        <p class="text-danger">{{form.fecha_inicio.errors.0}}</p>
                    </div>
                    <div class="form-group">
                        <label for="id_fecha_fin">Fecha fin:</label>
                        {{form.fecha_fin}}
                        <p class="text-danger">{{form.fecha_fin.errors.0}}</p>
                    </div>
                    <div class="form-group">
                        <label for="id_lider_proyecto">Lider del proyecto:</label>
                        {{form.lider_proyecto}}
                        <p class="text-danger">{{form.lider_proyecto.errors.0}}</p>
                    </div>
                    <div class="form-group">
                        <label for="id_cliente">Cliente:</label>
                        {{form.cliente}}
                        <p class="text-danger">{{form.cliente.errors.0}}</p>
                    </div>
                    <div class="form-group">
                        <label for="id_descripcion">Descripcion:</label>
                        {{form.descripcion}}
                        <p class="text-danger">{{form.descripcion.errors.0}}</p>
                    </div>
                    <div class="form-group">
                        <label for="id_estado">Estado:</label>
                        {{form.estado}}
                        <p class="text-danger">{{form.estado.errors.0}}</p>
                    </div>
                    <div class="form-group">
                        <label for="id_observaciones">Observaciones:</label>
                        {{form.observaciones}}
                        <p class="text-danger">{{form.observaciones.errors.0}}</p>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Submit" class="form-control primary">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}