{% extends "base.html" %}
{% load staticfiles %}
{% block head %}
    <title>Cliente</title>
    <!-- Custom styles for this template -->
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Clientes</h1>
            <a class="btn btn-default" href="/cliente/create/">Crear nuevo</a>
            <h2 class="sub-header">Detalle</h2>
            <p>Nombre: <strong>{{ object.nombre }}</strong></p>
            <p>Email: {{ object.email }}</p>
            <p>Direccion: {{ object.direccion }}</p>
            <a class="btn btn-default" href="/cliente/update/{{ object.id }}">Modificar</a><a class="btn btn-danger" href="/cliente/delete/{{ object.id }}">Eliminar</a>
            <h2 class="sub-header">Teléfonos</h2>
            <a class="btn btn-default" href="/cliente/add_telefono/{{object.id}}">Crear nuevo</a>
            <br>
            <ul>
                {% for tel in object.telefonos.all %}
                <li>{{tel.numero}} <a href="/modificar_telefono/{{tel.id}}" class="text-primary">modificar</a> <a href="/delete_telefono/{{tel.id}}" class="text-danger">delete</a></li>
                {% endfor %}
            </ul>


        </div>
{% endblock %}


